*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(73, 63, 84);
}
.nav-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(178, 178, 206); */
    padding: 0 50px;
    height: 100%;
    color:white;
    font-family: 'Sen', sans-serif;
    
}
.logo-container{
    flex: 1;
}
.logo{
    font-size: 30px;
    color:greenyellow;
        
}
.menu-container{
    flex: 6;
    
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 30px;
    cursor: pointer;
}
.menu-list-item.active{
    font-weight:bold;

}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    /* background-color: cadetblue; */
    justify-content: flex-end;
}
.prof-text-container{
    margin: 0 20px;
}
.prof-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;  /* new thing */
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.toggle-icon{
    color:rgb(167, 120, 0);
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidenav{
    width: 50px;
    height: 100%;
    background-color: rgb(73, 63, 84);
    position: fixed; 
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    cursor: pointer;

}
.left-menu-icon{
    color:white;
    font-size: 20px;
    margin-bottom: 40px;
}
.main-container{
    background-color: black;
    min-height:calc(100vh-50px);
    color: white;
}
.content-container{
    margin-left: 50px;
}
.featured-movies{
    height: 50vh;
    /* background-color:  rgb(136, 107, 165); */
    padding: 30px;
    /* margin-bottom: 100px; */
}

.featured-title{
    /* padding-top: 50px; */
    width: 300px;
    border-radius: 10px;
}
.featured-desc{
    width: 500px;
    color:grey;
    margin: 30px 0px;
    text-align:justify;
}
.featured-button{
    background-color: greenyellow;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    
}
.movie-list-container{
    /* margin-top: 100px; */
    padding: 0 30px;

}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list{
    display: flex;
    align-items: center;
    /* justify-content: space-around;    */
    /* flex-wrap: wrap; */
    height: 400px;
    transform:translateX(0);
    transition: all 1s ease-in-out;
}
.movie-list-item{
    /* padding: 0 40px 0 0; */
    margin-top: 20px;
    margin-right: 40px;
    /* margin-bottom: 20px; */
    position: relative;
}
.movie-list-item:hover .movie-list-item-image{
    transform: scale(1.17);
    margin: 0 30px;
    opacity: 0.6;

}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc{
    opacity: 1;
}
.movie-list-item:hover .movie-list-item-button{

    
}
.movie-list-item-image{
    width: 315px;
    height: 330px;
    /* object-fit:contain; */
    transition: all 1s ease-in-out;
    border-radius: 20px;


}
.movie-list-item-title{
    /* background-color: rgb(56, 51, 51); */
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 30px;
    opacity: 0;
    transition: all 1s ease-in-out;

}
.movie-list-item-desc{
    /* background-color: rgb(56, 51, 51); */
    padding: 10px;
    width: 220px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;

}
.movie-list-item-button{
    padding: 10px 12px;
    background-color: greenyellow;
    color: white;
    border-radius: 50%;
    outline:none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left:50px;
    /* opacity: 1; */

}
.carrow{
    font-size: 150px;
    position: absolute;
    top:135px;
    right: 60px;
    color:lightgray;
    opacity:0.7;
    cursor:pointer;

}
.main-container.active{
    background-color: white;

}
.movie-list-title.active{
    color:black;
}
.nav-container.active{
    background-color: white;
    color:black;
}
.sidenav.active{
    background-color: white;
}
.left-menu-icon.active{
    color:black;
}
.toggle.active{
    background-color: black;
}
.toggle-ball.active{
    background-color: white;
    /* left:1px; */
    transform: translateX(-20px);

}